@import '../../index.css';

.nav{
    margin: 3em 2%;
}

.nav-item{
    display: flex;
    gap: 1.5em;
    margin-bottom: 1.8em;
    color: var(--light-gray);
    list-style: none;
    font-family: var(--regular);
    font-size: 1em;
    text-decoration: none;
}

.nav-item li{
    font-family: var(--regular);
    font-size: 1.3em;
}

.nav ul:first-child{
    font-weight: 700;
}