body {
  margin: 0;
}

@font-face {
  font-family: "GandhiSans";
  src: local(GandhiSans) url(./fonts/GandhiSans-Regular.otf);
}

.font-face-GS {
  font-family: 'GandhiSans';
  font-weight: 500;
  font-size: 1.5em;
}