@import '../../index.css';

.banner{
    position: relative;
    margin: 0;
}

.banner-img{
    transform: scaleX(1.23);
    transform-origin: left center;
}

.banner h2{
    color: var(--white);
    font-family: var(--bold);
    font-size: 2.5em;
    font-weight: 400;
    position: absolute;
    top: 19%;
    left: 3%;
    width: 25%;  
}